/* Font-family */
html {
    font-family: "Times New Roman", Times, serif;
}

/* Color, block display, text-decoration, auto margin */
header {
    display: block;
    color: #FFFFFF;
    background-color: black;
    text-decoration: underline;
    margin: auto;
}

/* Universal */
*{
    font-size: 20px;
}

/* h2 */
h2 {
    color:rgb(132, 0, 255)
}


h3, .agenda{
    background-color: #ffa4a4;
}

/* Attribute selector */
a[href="#attendence"] {
    color: black;
}

/* Pseudo-class selector */
a:hover {
    color:rgb(146, 0, 165);
}

.displaynone {
    display: none;
}

span {
    color: rgb(72, 3, 136);
}

strong {
    color: hsl(2, 100%, 16%);
}

/* Display, borders, margin, flex */
.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: auto;
    text-align: center;
    margin-top: 1cm;
    margin-bottom: 10mm;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 1.2em;
    border-width: 10px;
    border-style: solid;
    border-color: black;
    border-radius: 10px
}

.attendence {
    display: block;
    font-size: 3ex;
    margin: 2vw, 2vw, 2vw, 2vw;
}

/* Grid */
.atttendencelist{
    display: grid;
    grid-template-columns: 100px 150px 200px 150px 100px;
    grid-column-gap: 10px;
    justify-items: end;
}

/* Padding */
.agenda {
    display: inline-block;
    padding-top: 10mm;
    padding-bottom: 10mm;
    padding-left: 10mm;
    padding-right: 10mm;
    position: relative;
}

.new {
    padding: 10mm, 10mm, 10mm, 10mm;
}

/* Sizing */
.img {
    height: 10cm;
    width: 15cm;
}

.video{
    max-width: 10cm;
    max-height: 10cm;
    width: 10cm;
    position: static;
}

/* Pseudo-class*/
.button1:hover {
    color: blue;
}

.button2:active {
    color: red
}

/* Media Query */
@media screen {
    body{
        background-color: rgb(255, 255, 255);
    }
}

#last {
    text-align: center;
    border-width: 1px;
    border-style: solid;
    border-color: black;
}

/* Descendant */
.meeting nav{
    background-color:rgb(81, 255, 133);
}

/* Child */
section > p{
    color: rgb(14, 0, 31);
}

/* General sibling */
h2 + form{
    background-color:#ffc1c1;
}

/* Adjacent sibling */
h3 ~ ol{
    background-color: #fc4e4e;
}

/* Combining Two selectors */
fieldset.click{
    background-color: aqua;
}